.navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    
   

}

.navbar .navbar-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}